@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Change Password</h1>

<form method="post" asp-action="ChangePassword">
    <input name="email" placeholder="Email" type="text" />
    <input name="password" placeholder="Password Lama" type="password" />
    <input name="confirm" placeholder="Password Baru" type="password" />
    <button type="submit">Submit</button>
</form>