@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Register</h1>

<form method="post" asp-action="Register">
    <input name="Fullname" placeholder="Full Name" type="text" />
    <input name="Email" placeholder="Email" type="text" />
    <input name="BirthDate" placeholder="Birth Date" type="date" />
    <input name="Password" placeholder="Password" type="password" />
    <button type="Submit">Submit</button>
</form>